*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Disaster Ready (local dev/asset packs)
/DEVELOPMENT_PLAN.md
DEVELOPMENT_PLAN.md

Volcano_N
Volcano_N/
Volcano_N_elements
Volcano_N_elements/

**/Volcano_N
**/Volcano_N/
**/Volcano_N_elements
**/Volcano_N_elements/
